@media  screen and (max-width: 950px){
    .sidebar{
       left: -100%;
     
        .nav{
            
            ul{
                padding-top:0px ;
               
                li{ 
                    
                    a{
                        
                        
                        span{
                            
                    }
                     &:hover{
                        
                    }
                    &:hover a span {
                          
                    }
                }
            }
        }
    }  

}
.show{
    left: 0;
}
}
@media  screen and (min-width: 950px){
    .sidebar{
        left: 0;
        .close{
            display: none;
            span{
            }
            
        }
         .nav{
             
             ul{
            transition: all 2s ease-in-out;
                 
                
                 li{ 
                     
                     a{
                         
                         
                         span{
                             
                     }
                      &:hover{
                         
                     }
                     &:hover a span {
                           
                     }
                 }
             }
         }
     }  
 
 }
}
