.content{
    margin-left: 250px;
    height: fit-content;
    margin-top: 90px;
    z-index: -1;
    .head_content{
        width: 95%;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .hamburger_menu{
            display: none;
            span{
                color: $primary-color;
            }
        }
        .search_bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            select{
                width: 100px;
                padding: 10px 15px;
                height: 45px;
                border: 1px solid $primary-color;
                // border-radius: 4px;
                margin-right: 10px;
                border-radius: 20px;
                background-color: $white-color;
              
            }
            .search{
                height: 45px;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                input[type="text"] {
                    margin-left: 7px;
                    display: block;
                    width: 220px;  
                    font-size: 18px;
                    outline: none;
                    color:$primary-color;
                    padding: 8px;
                    border:none;
                    border-radius: 20px;
                   
                }
                span{
                    width: 40px;
                    height: auto;
                    margin-right: -10px;
                }
            }
        }
        .add_doctor{
            border: 1px solid $primary-color;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 2px 15px;
            cursor: pointer;
            span{
                margin: 0 5px;
            }
        }
    }
    .all_doctors{
        width: 100%;
        height: 70px;
        // margin-top:30px ;
        height: fit-content;
        .doctor{
            margin: 10px auto ;
            width: 95%;
            height: 70px; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $primary-color;
            border-radius: 10px;
         .doctor_info{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            img{
                width: 50px;
                height: 50px;
            }
            .full_name{
                margin-left: -40px;
            }
         }
         .doctor_operation{
             margin-right: 10px;
            .button{
                background-color:$third-color;
                border: none;
                color: white;
                padding: 10px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 10px;
            }
         }
        }
        .bar_decs{
            margin-bottom: -20px;
            border: none;
            .doctor_info{
                margin-left: 30px;
                .spe{
                    margin-right: 28px ;
                }
            }
            .doctor_operation{
                margin-right: 60px;
            }
        }
    }
    
}