.footer{
    // border: 2px solid red;
    height: 200px;
    *{
        font-family: $primary-font;
    }
    .copi{
        width: fit-content;
        margin:50px auto -10px auto;
    }
    .logo_social{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .logo_description{
            margin-top: 20px;
            img{
                margin: 10px;
            }
            .p_footer{
                width:300px ;

            }
           
        }
        .social{
            margin-top: 40px;

        }
    }
}