//primary color

$hawkes-blue : #D1EBFC;
$primary-black : #000;
$primary-white : #FFF;
$dark-blue:#214975;
$primary-blue:#0061FF;
$background: $hawkes-blue;
// Regular font family
$font-family: 'Poppins', sans-serif;
