
.profile_container{
  @include flex(row, center, center, wrap);

  background-color: $background;
  // height: 100vh;
  box-sizing: border-box;
  padding: 0 10%;
  font-size: 24px;
  gap: 50px;
  div{
  form{
    
    margin-top: 15%;
    position: relative;
    table{
      position: absolute;
      top: -299px;
      left: 155px;
      th{
        color: $dark-blue;
      }
        td{
          border: 1px solid #9e9e9e;
          background-color: #fff;
          height: 100px;
          padding: 10px;
          color: #9e9e9e;
          font-weight: 400;
    }
  }
    .send{
        box-sizing: border-box;
        margin: 7%;
        position: relative;
        input {
          margin-bottom: 5%;
          width: 544px;
          height: 60.68px;
          border-radius: 10px;
          border: 2px solid $primary-blue;
          box-sizing: border-box;
          padding-left: 15px;
          
  
        }
        img{
          width: 27px;
          
          width: 27px;
          
          position: absolute;
          top: 15px;
          right: 152px;
        }
        input::placeholder {
          color: $hawkes-blue;
        }
      }
    }
} 
  .media{

    @include flex(column, center, center, nowrap);

    .button{
      @include flex(column, center, center, nowrap);

    button{
      //@mixin btn ($bg,$width, $height,$br){
      @include btn($primary-blue,275px, 60px, 10px);
      margin-top: 20px;


    }

    }

  }
  .info{

    color:$dark-blue;
    h1{
      font-size: clamp(1rem, 8.333vw, 3.5rem);
    }
  }


}
.pop{
 
  @include flex(row, center, center, wrap);
  form{
   

    div{
    @include flex(row,space-around, center, wrap);
      
      margin-bottom: 5%;
      input,select {
        width: 544px;
        height: 60.68px;
        border-radius: 10px;
        border: 2px solid $primary-blue;
        box-sizing: border-box;
        padding-left: 15px;

      }
      label{
        color:$dark-blue;
        font-weight: bold;
        
      }
      button{
        //@mixin btn ($bg,$width, $height,$br){
        @include btn($primary-blue,275px, 60px, 10px);
        margin-top: 20px;


      }
    }
  }

}
@media (max-width: 700px){
  .pop{
    height: fit-content;
  form{
    div{
    flex-direction: column;
      label{
        margin: 10px 0;
      }
      input,select,button{
        width: 50%;
      }
    }
    
  }
}
}

.planing_doc{
  box-sizing: border-box;
  box-shadow:unset 0 -1px 3px $primary-blue;
  // @include flex(column, center, stretch, nowrap);
  border:2px solid red;
  .header_plan{
    @include flex(row,  space-around, center, nowrap);
  }
  .table{
    @include flex(column, center, stretch, nowrap);
    margin: 0 10%;
   
  .header_profil{
    @include flex(row,  space-around, center, nowrap);
  }
  form{
    @include flex(row,  space-around, center, nowrap);
    border: 1px solid #9e9e9e;
    border-radius: 100px;
    
    margin-top: 10px;
  }
  button{
  
    border: none;
    outline: none;
    color: #FFF;
    margin: 10px;
    @include btn($primary-blue,100px, 45px, 10px);



  }
}
}

@media (max-width: 700px){
  .planing_doc{
  .table{
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    margin: 9px 44px;
    @include flex(row,  space-around,center, nowrap);
    .header_profil{
      display: none;
    }
    form{
      border: none;

    
      @include flex(column,  center,center, nowrap);

  
}
  
    }
  }
}

.pop{
  display: none;
  position: relative;
  .close{
    position: absolute;
    top: 50px;
    right: 80px;

  }
}